// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

a{
    text-decoration: none;
}

.button{
    display: block;
    background-color: $button;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    border-radius: 10px;
    width: 170px;
    text-align: center;
    color: white;
    border-style: none;

    &:first-child{
        margin-left: 0;
    }
}

.article-container{
    display: flex;
    width: 300px;
    height: 101px;
    background-color: $button;
    margin-top: 5px;
    border-radius: 10px;
    padding: 2px;

    &__image{
        background-image: url('/images/ArticlePreview.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 101px;
        width: 100px;
        border-radius: 10px;
    }

    &__text-container{
        width: 194px;
        margin-left: 3px;
    }

    &__headline{
        color: white;
        font-weight: bold;
    }

    &__text{
        color: black;
        line-height: 1;
        font-size: 14px;
        margin-top: 3px;
        text-align: justify;
    }

    &__avatar{
        background-image: url('/images/avatar.jpg');
    }
}

header{
    height: 164px;
    background-image: url('/images/HeaderBackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logo{
        margin-left: $globalSideMargin;
        font-size: 80px;
        color: white;
    }

    .header__search{
        margin-right: $globalSideMargin;
        align-self: flex-start;
        margin-top: 20px;
    }

    .header__search-bar{
        width: 270px;
    }
}

.navigation-line{
    height: 40px;
    background-color: $main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;

    &__button{
        width: 130px;
    }

    &__navigation{
        display: flex;
        margin-left: $globalSideMargin;
        align-items: center;
    }

    &__login-container{
        background-color: white;
        display: flex;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: black;
        border-bottom-color: black;
        border-top-width: 3px;
        border-bottom-width: 3px;
    }

    &__login-button{
        height: 34px;
        line-height: 34px;
        width: 152px;
        color: black;
        text-align: center;
        font-size: 20px;
        border-left-color: black;
        border-left-style: solid;
        border-left-width: 3px;
        background-color: white;

        &_inactive{
            background-color: grey;
        }

        &_registration{
            padding-right: $globalSideMargin;
        }
    }

    &__user-info{
        display: flex;
        align-items: center;
        margin-right: 5px;

        .button{
            width: fit-content;
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    &__username{
        color: white;
        font-size: 26px;
    }

    &__auth-container{
        display: flex;
    }
}

.main-screen{
    display: flex;
    padding-left: $globalSideMargin;
    justify-content: flex-end;
    background-image: url('/images/MainScreenBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 699px;
    padding-right: $globalSideMargin;

    .main-screen-info-container{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-screen-info{
        display: flex;
        flex-direction: column;

        &__button{
            align-self: flex-end;
            margin-top: 5px;
        }
    }
}


.screen-headline{
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 4px black;
}

.sidebar{
    //background-color: $main;
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__button{
        margin-top: 5px;
    }
}

.second-screen{
    display: flex;
    height: 699px;
    border-top-style: solid;
    border-top-width: 5px;
    background-image: url('/images/SecondScreenBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: $globalSideMargin;
    padding-left: $globalSideMargin;
}

.second-screen-info-container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.second-screen-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 628px;

    &__button{
        align-self: flex-end;
        margin-right: 4px;
    }
}

.authors-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 5px;

    .article-container{
        margin: 5px;
    }
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $main;
    padding-left: $globalSideMargin;
    padding-right: $globalSideMargin;
    height: 40px;

    .fa-arrow-up{
        margin-left: 2px;
    }

    .footer__year{
        font-size: 24px;
        color: white;
        font-weight: bold;
    }
}

.registration-container{
    display: flex;
    flex: 1;
    justify-content: center;
}

.registration{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;

    &__element{
        margin-top: 5px;
    }

    &__error{
        color: red;
    }
}

.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.screen{
    padding-right: $globalSideMargin;
    padding-left: $globalSideMargin;
    display: flex;
    flex: 1;
    background-color: #2b3314;
    padding-bottom: 5px;
}

.content-container{
    flex: 1;
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 5px;
    background-color: $main;
    border-radius: 10px;
    overflow: hidden;
}

.user-info-container{
    display: flex;
    flex: 1;

    &__avatar{
        background-image: url('images/avatar.jpg');
        width: 200px;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__info-container{
        margin-left: 10px;
        margin-top: 10px;
    }

    &__button{
        min-width: 200px;
        margin-left: 0;
        margin-bottom: 5px;
    }

    &__buttons-container{
        margin-top: 14px;
        width: 410px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.info{
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
}

.content{
    flex: 1;
    padding-left: $fromSidebarMargin;
    padding-right: $fromSidebarMargin;
}

.article{
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    h1{
        color: white;
    }

    p{
        text-align: justify;
    }

    &__author{
        align-self: flex-end;
        color: white;
        font-weight: bold;
    }
}

.adressee{
    display: flex;
    width: 100%;

    &__avatar{
        width: 100px;
        height: 100px;
        background-image: url('/images/avatar.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-top-left-radius: 10px;
    }

    &__info{
        padding-left: 10px;
    }

    .button{
        margin-left: 0px;
    }
}

.message{
    display: flex;
    flex-direction: column;
    width: 100%;

    .button{
        margin-top: 5px;
        align-self: flex-end;
    }

    &__text{
        height: 150px;
    }
}

.message-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-list{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 10px;

    &__message{
        border-radius: 10px;
        background-color: $button;
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    &__adresses-message{
        align-self: flex-start;
        max-width: 80%;
    }

    &__own-message{
        align-self: flex-end;
        max-width: 80%;
    }
}

.pages-arrows{
    display: flex;
    width: 100px;
    justify-content: space-between;
    margin-bottom: 5px;

    &__element{
        background-color: $button;
        border-radius: 3px;
        width: 30px;
        text-align: center;
        padding-top: 2px;
    }
}

.new-article{
    width: 100%;
    display: flex;
    flex-direction: column;

    .button{
        align-self: flex-end;
    }

    &__text{
        height: 500px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &__buttons{
        display: flex;
        justify-content: space-between;
    }
}

.articles{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 618px;
    justify-content: space-between;
    margin-bottom: 5px;

    @media screen and (max-width: 1346px){
        width: auto;
        flex-direction: column;
        width: 300px;
    }
}

.articles-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-container{
    background-color: $main;

    &__text-container{
        margin-left: 10px;
        padding-top: 5px;
    }

    .button{
        margin-left: 0;
        margin-top: 5px;
    }
}

.comment{
    display: flex;

    &__avatar{
        background-image: url('/images/avatar.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-width: 100px;
        height: 100px;
    }

    &__text{
        padding: 5px;
    }

    &__author-info{
        display: flex;
        flex-direction: column;
    }

    &__username{
        font-weight: bold;
        color: white;
        align-self: center;
        margin-top: 5px;
    }
}

.new-comment{
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-right: 15px;

    &__text{
        width: 100%;
        height: 150px;
    }

    .button{
        align-self: flex-end;
        margin-top: 5px;
    }
}

.category{
    color: white;
    font-weight: bold;
}
